{{define "resource_enforcement_rule"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: resource_enforcement_rule"
sidebar_current: "docs-bridgecrew-resource_enforcement_rule"

description: |-
Create a new exception rule for a specific set of repositories
---

# bridgecrew_enforcement_rule

Use this resource to create new exception rules for the Bridgecrew platform <https://www.bridgecrew.cloud/incidents>.
For more details on this API see their online API documentation <https://docs.bridgecrew.io/reference/addrule>.





## Example Usage

Basic usage:

This tag group creates a disabled tag group attached only to 2 repos, you can source the repo ids from the
repository datasource.

```hcl

resource "bridgecrew_enforcement_rule" "imported" {
  name          = "james2"
  description   = "first terraform"
  isenabled     = false
  tagruleootbid = ""

  definition {
    tag_groups {
      name = "1653659061445_key"
      tags {
        value = {
          default = "name"
        }
        name = "team2"
      }
    }
  }

  repositories = ["00ca7905-d366-470e-9740-3a576fd9b82d","02ecf59e-6cd6-4b14-9c91-816c46211bd2"]
}
```

## Importing existing Tagging Policies

You can import existing platform policies into Terraform code.

```
terraform import bridgecrew_enforcement_rule.imported id
```

You can view the id, either by using the API docs tag list feature:

<https://docs.bridgecrew.io/reference/gettags> or by using the tags datasource.

{{end}}
