{{define "resource_policy"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: resource_policy"
sidebar_current: "docs-bridgecrew-resource_policy"

description: |-
Create a new custom security policy for Bridgecrew
---

# bridgecrew_policy

Use this resource to create new custom policies.




## Example Usage
```hcl
resource "bridgecrew_policy" "mypolicy" {

}
```
{{end}}
