{{define "index"}}---
page_title: "Bridgecrew Provider"
subcategory: ""
description: |-
Provider information
---

# Bridgecrew Provider

The Bridgecrew provider is used to interact with the Bridgecrew Security Platform
.

In order to use this Provider, you must have an active account with Bridgecrew.
Pricing and sign-up information can be found at <https://www.bridgecrew.cloud/login/signUp?return_to=%2Fsignup>

For further information on bridgecrew see their on-line documentation <https://docs.bridgecrew.io/docs>.
## Example Usage

```hcl
# Terraform 0.13+ requires providers to be declared in a "required_providers" block
terraform {
  required_providers {
    bridgecrew = {
      source = "PaloAltoNetworks/bridgecrew"
      version >= "{{ .Data.ProviderVersion }}"
    }
  }
}
# Configure the Bridgecrew Provider
provider "bridgecrew" {
  token = "test"
}


data "bridgecrew_policies" "policies" {
}
```

## Authentication

The Bridgecrew provider offers an API key based method of providing credentials for
authentication. The following methods are supported, in this order, and
explained below:

- Static API key
- Environment variables

### Static API Key

Static credentials can be provided by adding a `token` in-line in the
Bridgecrew provider block:

Usage:

```hcl
provider "bridgecrew" {
  token = "test"
}

data "bridgecrew_policies" "policies" {
}
```

Best practice would be to not enter a value, to avoid any potential of adding your secrets to source control.
You can create a credential on the Personal API Tokens page: https://www.bridgecrew.cloud/integrations/api-token

### Environment variables

You can provide your API key via `BRIDGECREW_API` environment variable,
representing your Bridgecrew API key. When using this method, you may omit the
Bridgecrew `provider` block entirely:

```hcl
data "bridgecrew_policies" "mypolicies" {
}
```

Usage:

```bash
$ export BRIDGECREW_API="aBridgecrewapikey"
$ terraform plan
```

## Argument Reference

The following arguments are supported in the `provider` block:

* `token` - (Optional) This is the API key. It must be provided, but
  it can also be sourced from the `BRIDGECREW_API` environment variable

* `url` - (Optional) This is the API server hostname. It is required
  if using a private instance of the API and otherwise defaults to the
  public Bridgecrew production service. It can also be sourced from the
  `BRIDGECREW_URL` environment variable

* `prisma` (Optional) This is the url of the `PRISMA` tenant, if set this overrides the URL,
  requires that both the access_key_id and secret_key are set.
  Can be set by using the `PRISMA_API_URL` environment variable.

* `accesskeyid` (Optional) This is the `PRISMA` access key id,
  it will be used if the prisma tenant url is set.
  Can be set by using the `PRISMA_ACCESS_KEY_ID` environment variable.

* `secretkey` This is the `PRISMA` Secret key, in combination with the access key it unlock
  access to the `PRISMA` API.
  Can be set by using the `PRISMA_SECRET_KEY` environment variable.
{{end}}
