{{define "data_source_code_reviews"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_code_reviews"
sidebar_current: "docs-bridgecrew-data_source_code_reviews"

description: |-
Get a list of all your Bridgecrew platform code reviews.
More details on the Bridgecrew API for this datasource are available <https://docs.bridgecrew.io/reference/getcodereviewdata>.

---

# bridgecrew_code_reviews

Use this datasource to get all the details of your code reviews/PRs from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_code_reviews" "all" {}
```
{{end}}
