{{define "data_source_incidents"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_incidents"
sidebar_current: "docs-bridgecrew-data_source_incidents"

description: |-
Get a list of all your Bridgecrew platform incidents.
More details on the Bridgecrew API for this datasource are available <https://docs.bridgecrew.io/reference/getincidents>.

---

# bridgecrew_incidents

Use this datasource to get the details of your incidents from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_incidents" "myincidents" {
}
```
{{end}}
