{{define "data_source_incidents_preset"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_incidents_preset"
sidebar_current: "docs-bridgecrew-data_source_incidents_preset"

description: |-
Get a list of all your Bridgecrew platform incidents presets and counters.
More details on the Bridgecrew API for this datasource are available <https://docs.bridgecrew.io/reference/getpresets>.

---

# bridgecrew_incidents_preset

Use this datasource to get the details of your incidents presets/counters from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_incidents_presets" "all" {}
```
{{end}}
