{{define "data_source_incidents_info"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_incidents_info"
sidebar_current: "docs-bridgecrew-data_source_incidents_info"

description: |-
Gets all the info and counters of the incidents and violations.
More details on the Bridgecrew API for this datasource are available <https://docs.bridgecrew.io/reference/getinfo>.

---

# bridgecrew_incidents_info

Use this datasource to get the details of your incidents counters from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_incidents_info" "all" {}
```
{{end}}
