{{define "data_source_integrations"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_integrations"
sidebar_current: "docs-bridgecrew-data_source_integrations"

description: |-
Get a list of all your Bridgecrew platform integrations.

---

# bridgecrew_integrations

Use this datasource to get the details of your integrations from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_integrations" "myintegrations" {}
```
{{end}}
