{{define "data_source_organisation"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_organisation"
sidebar_current: "docs-bridgecrew-data_source_organisation"

description: |-
Get your Bridgecrew Organisation.


---

# bridgecrew_organisation

Use this datasource to get the Bridgecrew Organisation name.




## Example Usage
```hcl
data "bridgecrew_organisation" "mine" {}
```
{{end}}
