{{define "data_source_policies"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_policies"
sidebar_current: "docs-bridgecrew-data_source_policies"

description: |-
Get a list of all of your custom policies in the Bridgecrew platform.
Details on this API call are available here <https://docs.bridgecrew.io/reference/getcustompoliciestable>.
---

# bridgecrew_policies

Use this datasource to get the details of your custom security policies from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_policies" "policies" {
}
```
{{end}}
