{{define "data_source_repository_branches"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_repository_branches"
sidebar_current: "docs-bridgecrew-data_source_repository_branches"

description: |-

Supplies the details on the branches under analysis for a given repository <https://docs.bridgecrew.io/reference/getbranches>.

---

# bridgecrew_repository_branches

Use this datasource to get the details of your managed repositories branches from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_repository_branches" "test" {
    reponame="terraform-aws-cassandra"
    repoowner="JamesWoolfenden"
}
```
{{end}}
