{{define "data_source_tags"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_tags"
sidebar_current: "docs-bridgecrew-data_source_tags"

description: |-
Get all the tag rules.
More details on the Bridgecrew API for this datasource are available <https://docs.bridgecrew.io/reference/gettag>.

---

# bridgecrew_tags

Use this datasource to get the all the tag rules.




## Example Usage
```hcl
data "bridgecrew_tags" "custom" {
}
```
{{end}}
