{{define "data_source_users"}}---
layout: "bridgecrew"
page_title: "Bridgecrew: data_source_users"
sidebar_current: "docs-bridgecrew-data_source_users"

description: |-
Get a list of all your Bridgecrew platform users.

---

# bridgecrew_users

Use this datasource to get the details of your users from Bridgecrew.




## Example Usage
```hcl
data "bridgecrew_users" "users" {}
```
{{end}}
